@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* Variables */
$pastel-pink: rgba(255,209,220,1);
$pastel-purple: rgba(177,156,217,1);
$pastel-blue: rgba(174,198,207,1);