@import './config';

body {
    font-family: 'Didact Gothic', sans-serif;
    background: linear-gradient(90deg, $pastel-pink 0%, $pastel-purple 50%, $pastel-blue 100%);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    .container {
        background: white;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 400px;
        border-radius: 20px;
        padding: 30px;

        .inputBox {
            position: relative;
            width: 400px;
            height: 50px;
            margin-bottom: 35px;

            input {
                position: absolute;
                background: transparent;
                border-radius: 5px;
                border: 1px solid black;       
                box-sizing: border-box; 
                width: 100%;
                height: 100%;
                padding: 10px;
                font-size: 15px;
            }

            label {
                position: absolute;
                top: 3px;
                left: 1px;
                padding: 10px;
                font-size: 16px;
                transition: 0.5s;
                pointer-events: none;
            }

            input:focus ~ label,
            input:valid ~ label {
                transform: translateY(-37px) translateX(-10px);
                font-size: 14px;
            }
        }

        // Buttons
        input[type=button],input[type=reset],input[type=submit] {
            background-color: $pastel-pink;
            color: black;

            height: 40px;
            width: 150px;
            font-size: 20px;
            border-radius: 10px;
            border-color: $pastel-pink;
        }
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .tos {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}